/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'materialize.scss';
// global
body {
  background-color: #F2F5ED;
  font-family: 'Raleway', sans-serif;
}

nav {
  border-radius: 0px 0px 10px 10px;
  background-color: #BBBAC6;
}

img {
  border-radius: 15px;
}

nav ul li:hover, .brand-logo:hover, .material-icons:hover {
   background-color: white;
   border-radius: 30px;
   padding-left: 5px;
   padding-right: 5px;
}

.brand-logo {
  font-family: 'Bungee Inline', cursive;
  color: #4E0000 !important;
}

#dropdown {
  border-radius: 0 0 25px 0;
  border: 1px solid black;
  color: #93ACB5;
}

.image {
  max-width: 400px;
  max-height: 400px;
}

.author-image {
  margin-top: 10px;
  max-height: 100px;
  max-width: 100px;
  border-radius: 20px;
}

.comment-author-image {
  margin-top: 10px;
  max-height: 75px;
  max-width: 75px;
  border-radius: 15px;
}

.author-image2 {
  margin: 15px;
  max-height: 300px;
  max-width: 300px;
}

.responsive-image {
  max-width: 100%;
}

.btn {
  background-color: #C6D8C6;
  color: #00586B;
  border-radius: 8px;
}

.btn:hover {
  background-color: #4E0000;
  color: white;
  border-radius: 8px;
}

a.link-text {
  color: #4E0000;
  font-weight: 700;
}

a.link-text:hover {
  background-color: #4E0000;
  color: white;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

.post-comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment-area {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-show-card, .comment-area {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.post-details {
  border: 1px solid #93ACB5;
  border-radius: 15px;
  margin-bottom: 5px;
}

.comments-title, .add-comment, .add-comment2 {
  margin-left: 20px;
}

.comment-image {
  margin-top: 5px;
  max-height: 100px;
  max-width: 100px;
}

.add-comment2 {
  padding-bottom: 50px;
}

// login/signup forms
.login-area, .signup-area, .new-post, .comment-card {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

// user show
.post-author-name {
  font-size: 30px;
  color: #BBBAC6;
  margin: 20px;
}

.post-author {
  font-size: large;
  margin: 10px;
}
