/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'materialize.scss';

body {
  background-color: #F2F5ED;
}

nav {
  border-radius: 0px 0px 10px 10px;
  background-color: #BBBAC6;
}

nav ul li:hover, .brand-logo:hover, .material-icons:hover {
   background-color: white;
}

#dropdown {
  border-radius: 0 0 25px 0;
  border: 1px solid black;
  color: #93ACB5;
}

.image {
  max-width: 400px;
}

.responsive-image {
  max-width: 100%;
}

.btn {
  background-color: #C6D8C6;
  color: #00586B;
}

.btn:hover {
  background-color: #C6D8EF;
  color: #00586B;
}

.post-comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment-area {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-show-card, .comment-area {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.post-details {
  border: 1px solid #93ACB5;
  border-radius: 15px;
}

.comments-title, .add-comment {
  margin-left: 20px;
}
